/* Ensure page uses full width but doesn’t shrink weirdly */
html,
body {
  margin: 0;
  padding: 0;
  width: svw;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 4rem;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid transparent;
  z-index: 1000;
  transition: background-color 0.4s ease, border-color 0.4s ease;
}

.scrolled {
  background-color: #040925;
}

.left {
  display: flex;
  align-items: center;
  color: #ebf4f6;
}

.logo {
  width: 70px;
  height: 70px;
  filter: drop-shadow(0 0 10px #ffffff) drop-shadow(0 0 22px #ffffff)
    drop-shadow(0 0 32px #ebf4f6);
  transition: filter 0.3s ease;
}

.right {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
  margin: 0;
  padding-top: 5px;
  padding-right: 20px;
}

.right a {
  color: #ebf4f6;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.right a:hover {
  text-shadow: 0 0 10px #ffffff, 0 0 18px #ffffff, 0 0 28px #ebf4f6,
    0 0 38px #c0c0c0;
}

@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0.4rem 2rem;
  }

  .left {
    justify-content: center;
  }

  .right {
    flex-direction: row;
    gap: 2.2rem;
    padding-top: 0.3rem;
    justify-content: center;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }

  .right a {
    font-size: 1rem;
  }
}
